.wrapper {
  display: grid;
  grid-template-columns: repeat(2, minmax(auto, 100px)) 0.8fr repeat(2, 1.3fr) 3.5px 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 120px minmax(450px, auto) 250px;
  max-width: 100%;
}

/***                    Header                    ***/

.logo-container {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  height: 120px;
  display: flex;
  align-items: center;
}
.logo {
  padding-left: 37px;
  max-width: 200px; /*jcp 3lach dertha*/
}
.vide {
  grid-column: 3 / 6;
  grid-row: 1 / 2;
}

.nav {
  grid-column: 4 / 13;
  grid-row: 1 / 2;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 29px;
  padding: 0px 20px 0px 28px;
  width: 100%;
}
.nav-link {
  padding: 0px 5px;
  margin: 0px 20px;
}

.burger {
  position: absolute;
  top: 2.6rem;
  right: 1.5rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
  width: 32px;
  height: 25px;
}
.burger:hover {
  top: 2.5rem;
  width: 32px;
  height: 30px;
  transition: all 0.08s ease-in-out;
}

.burger .bar {
  height: 3.8px;
  width: 100%;
  background-color: #f2f2f2;
  border-radius: 1px;
}

/***                    Main                    ***/

.introduction {
  grid-column: 2 / 9;
  grid-row: 2 / 3;
  margin: 30px 0px;
  padding: 0px 20px;
  align-self: center;
}
.text {
  margin-top: 10px;
  margin-left: 1px;
  align-self: center;
}

.photo-container {
  grid-column: 9 / 12;
  grid-row: 2 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.square {
  /*   min-width: 150px;
  max-width: 280px; */
  height: 180px;
  width: 180px;
  border: solid 5px #f2f2f2;
  overflow: hidden;
}

.photo {
  width: auto;
  height: 180px;
}

.icons {
  grid-column: 1 / 13;
  grid-row: 3 / 4;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.icon {
  margin: 5px 5px;
  padding: 5px 10px;
}

.fab {
  font-size: 50px;
  color: rgb(242, 242, 242, 0.8);
  transition: color 0.2s ease-in;
}

.fas {
  font-size: 50px;
  color: rgb(242, 242, 242, 0.8);
  transition: color 0.2s ease-in;
}

.fab:hover {
  color: white;
  transition: color 0.2s ease-in;
}
.fas:hover {
  color: white;
  transition: color 0.2s ease-in;
}
/***                    Media Queries                    ***/

/***    Laptop    ***/

@media (max-width: 866px) {
  .nav-link {
    padding: 0px 5px;
    margin: 0px 8px;
  }
}

@media (max-width: 730px) {
  .nav {
    grid-column: 3 / 13;
    grid-row: 1 / 2;
  }
}

@media (min-width: 984px) {
  .nav {
    grid-column: 5 / 13;
    grid-row: 1 / 2;
  }
}

@media (min-width: 1130px) {
  .nav {
    grid-column: 6 / 13;
    grid-row: 1 / 2;
  }
}

/***    Tablet    ***/

@media (max-width: 850px) {
  .wrapper {
    grid-template-rows: 120px minmax(200px, 300px) auto 200px;
    max-width: 100%;
  }

  .photo-container {
    grid-column: 1 / 13;
    grid-row: 2 / 3;
  }

  .introduction {
    grid-column: 1 / 13;
    grid-row: 3 / 4;
  }

  .icons {
    grid-column: 1 / 13;
    grid-row: 4 / 5;
  }
}

/***    Phone    ***/

@media (max-width: 690px) {
  .burger {
    display: flex;
  }

  .nav.active {
    grid-column: 1 / 13;
    grid-row: 2 / 3;
  }

  .nav {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: auto;
  }

  .nav-link {
    padding: 10px;
    transition: padding 1s ease-in-out;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .nav-links.active {
    display: flex;
    height: auto;
  }

  .wrapper {
    grid-template-rows: 120px auto auto auto 220px;
    max-width: 100%;
  }

  .burger {
    grid-column: 3 / 13;
    grid-row: 1 / 2;
  }

  .photo-container {
    grid-column: 1 / 13;
    grid-row: 3 / 4;
    align-items: flex-start;
    margin: 20px 0px;
  }

  .introduction {
    grid-column: 1 / 13;
    grid-row: 4 / 5;
  }
  .logo {
    padding-left: 25px;
    max-width: 170px;
  }

  .icons {
    grid-column: 1 / 13;
    grid-row: 5 / 6;
  }

  .icon {
    margin: 5px 15px;
    padding: 5px 10px;
  }
}

.nav-link::after {
  content: "";
  display: block;
  width: 0;
  height: 2.5px;
  background: #f2f2f2;
  transition: width 0.3s;
}

.nav-link:hover::after {
  width: 100%;
  transition: width 0.3s;
}

.logo,
.nav-links,
.photo,
.title,
.text {
  transition: all 0.5s ease-in-out;
}
